{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Відвідування{% endblock meta_title %}

{% block title %}Облік відвідування{% endblock title %}

{% block css %}
		<link rel="stylesheet" href="{{ PORTAL_URL }}{% static "css/index2.css" %}">
{% endblock css %}

{% block content %}
				<div class="row" id="monthes">

					<div class="col-xs-12" id="content-monthes" style="text-align: center; padding-bottom: 15px;"><a href="#">&larr;</a> Жовтень 2014 <a href="#">&rarr;</a>
					</div>
				</div>

				<!-- Start Students Listing -->
				<table class="table table-striped table-bordered">
				  <thead>
				    <tr>
				      <th>#</th>
				      <th>Студент</th>
				      <th>Ср 1</th>
				      <th>Чт 2</th>
				      <th>Пт 3</th>
				      <th>Сб 4</th>
				      <th>Вс 5</th>
				      <th>Пн 6</th>
				      <th>Вт 7</th>
				      <th>Ср 8</th>
				      <th>Чт 9</th>
				      <th>Пт 10</th>
				      <th>Сб 11</th>
				      <th>Вс 12</th>
				      <th>Пн 13</th>
				      <th>Вт 14</th>
				      <th>Ср 15</th>
				      <th>Чт 16</th>
				      <th>Пт 17</th>
				      <th>Сб 18</th>
				      <th>Вс 19</th>
				      <th>Пн 20</th>
				      <th>Вт 21</th>
				      <th>Ср 22</th>
				      <th>Чт 23</th>
				      <th>Пт 24</th>
				      <th>Сб 25</th>
				      <th>Вс 26</th>
				      <th>Пн 27</th>
				      <th>Вт 28</th>
				      <th>Ср 29</th>
				      <th>Чт 30</th>
				      <th>Пт 31</th>
				    </tr>
				  </thead>
				  <tbody>
				  	<tr>
				  		<td>1</td>
				  		<td><a title="Редагувати" href="{% url "students_edit" 1 %}">Поданєв Михайло</a></td>
				  		<td><div class="checkbox" ><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox" ><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
					  	<td><div class="checkbox" ><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox" ><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  	</tr>

				  	<tr>
				  		<td>2</td>
				  		<td><a title="Редагувати" href="{% url "students_edit" 2 %}">Маск Елон</a></td>
				  		<td><div class="checkbox" ><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox" ><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
					  	<td><div class="checkbox" ><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox" ><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  	</tr>

				  	<tr>
				  		<td>3</td>
				  		<td><a title="Редагувати" href="{% url "students_edit" 3 %}">Цукерберг Марк</a></td>
				  		<td><div class="checkbox" ><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox" ><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
					  	<td><div class="checkbox" ><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox" ><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  	</tr>

				  	<tr>
				  		<td>4</td>
				  		<td><a title="Редагувати" href="{% url "students_edit" 4 %}">Джобс Стів</a></td>
				  		<td><div class="checkbox" ><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox" ><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
					  	<td><div class="checkbox" ><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox" ><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  		<td><div class="checkbox"><label><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></label></div>
						</td>
				  	</tr>
				  </tbody>
				</table>
				<!-- End Studentd Listind -->
{% endblock content %}